<!DOCTYPE html>
<html lang="en" ng-app="app1" ng-controller="appController">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UW Human Powered Sub Team</title>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="css/navbar.css"/> -->

    <!-- AngularJS -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
    <script src="js/angularjs.js"></script>
    <script src="js/angular.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><!--<i class="fa fa-bars"></i>-->Menu</a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Human Powered Sub</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>About</a>
            </li>
            <li>
                <a href="#services" onclick=$("#menu-close").click();>Learn More</a>
            </li>
            <li>
                <a href="#team-roster" onclick=$("#menu-close").click();>Team Roster</a>
            </li>
            <li>
                <a href="#portfolio" onclick=$("#menu-close").click();>Photo Gallery</a>
            </li>
            <li>
                <a href="#sponsor" onclick=$("#menu-close").click();>Sponsors</a>
            </li>
            <!--<li>
                <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
            </li>-->
        </ul>
    </nav>


    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h2 class="standout-text-dark bold">Mechanical Engineering</h2>
            <h3 class="standout-text-dark bold">University of Washington</h3>
            <div class="spacer" style="height: 20px"></div>
            <h1 class="standout-text-dark">Human Powered Submarine Team</h1>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 style="font-family:Raleway; font-size:50px; margin:0px;">Who are we?</h1>
                        <!-- <p class="lead">We are engineers. We are designers. <br> We are machinists, coders, athletes, and divers.<br> </p> -->
                        <div id="spacer" style="height: 5.0vh;"></div>
                        <p class="lead">We are a community of driven students from across the University of Washington <br> who believe that everyone is capable of impactful and original work.<br> </p>

                        <div id="spacer" style="height: 2.0vh;"></div>
                        <p class="lead">Every year, we come together to share our passion with others,<br>and build the fastest human powered submarine in the world.</p>

                        <div id="spacer" style="height: 1.5vh;"></div>

                        <p class="lead" style="font-size: 35px;">Welcome, to UW Human Powered Sub.</p>
                        <img src="img/hps-logo.jpg" style="height: auto; width: 128px;">

                        <div id="spacer" style="height:5px;"></div>

                        <a href="#services" id="about-next-button"><i class="fa fa-angle-down fa-5x" style="color:#333;"></i></a>
                        <!-- <div id="spacer" style="height: 30px;"></div> -->

                    </div>

                </div>
                <!-- /.col-lg-12  -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary" style="font-family:Raleway; padding-top:30px; ">
        <div class="container">
            <div class="row text-center" style:"margin:0px">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>How It All Comes Together</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4" ng-repeat="subteam in teamInfo track by $index">
                            <div class="service-item" style="margin-bottom:15px; margin-top:3.0vh;">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="{{subteam.glyph}}"></i>
                                </span>
                                <h4 style="font-size:26px;">
                                    {{subteam.name}}
                                </h4>
                                <a href="#panel" class="btn btn-sm btn-light" ng-click="showTheseDetails($index)">Learn More</a>
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                    <a href="#team-roster" id="about-next-button">
                        <i class="fa fa-angle-down fa-5x" style="color:#ffffff; opacity:0.9"></i>
                    </a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        </div>
    </section>

    <div id="panel" class="infopanel" ng-show="showDetails" style="height: 45vh;">
        <div class="container">
            <h1 style="font-size:4.5em; font-weight:700;">{{infopanelTitle}}</h1>
            <div class="row">
              <div class="col-sm-4">
                  <img src="{{infopanelImage}}" class="" style="height: 180px; width: auto; margin: 0 20px;">
              </div>
              <div class="col-sm-8">
                  <h3>{{infopanelDetails}}</h3>
              </div>
            </div>

        </div>
    </div>

    <!-- roster -->
    <div id="team-roster" class="callout" style="height: 55vh; position:relative;">
        <p class="btn btn-dark btn-lg" style="margin-left:20px; margin-top: 20px; position:absolute;"
        ng-show="is_showing_members" ng-click="reset()">Back</p>
        <div class="text-vertical-center" style="text-align: center; padding-top:20px; ">
            <h1>{{title}}</h1>
            <svg height="10" width="100%">
                <line x1="25%" y1="5" x2="75%" y2="5" class="svg-line"/>
            </svg>
            <ul id="roster" class="col-md-8 col-md-offset-2">
                <li class="roster-subsection"
                ng-repeat="object in display track by $index"
                ng-click="showSubteam($index, object)"
                style="margin: 10px 0px;">{{object.name}}
                </li>
            </ul>
            <div id="spacer" style="height: 10px;"></div>


        </div>
<!--
        <a href="#portfolio" id="about-next-button" style="position: absolute; bottom: 0;">
            <i class="fa fa-angle-down fa-5x" style="color:#ffffff; opacity:0.9"></i>
        </a> -->
    </div>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row center">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Photo Gallery</h2>
                    <hr class="small">
                    <div class="row center " style="background-color:white; text-align: center">
                        <div class="col-sm-3" ng-repeat="item in portfolio track by $index">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="{{item.src}}" style="height: 30vh;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <button class="btn btn-dark" ng-click="showMore()" ng-hide="isShowingMore">View More Items</button>
                    <button class="btn btn-dark" ng-click="showLess()" ng-hide="!isShowingMore">View Fewer Items</button>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <div id="sponsor" class="call-to-action bg-primary" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 style="">Help our Team Achieve New Heights!</h1>
                    <a href="#sponsor" class="btn btn-lg btn-light" ng-click="showSponsorPitch()">Sponsor Us!</a>
                    <a href="https://www.washington.edu/giving/make-a-gift/?page=funds&source_typ=2&source=EDZ" class="btn btn-lg btn-dark">Donate!</a>
                    <a href="#sponsor" class="btn btn-lg btn-light" ng-click="showMailingList()">Follow Us!</a>
                </div>
            </div>
        </div>
        <div id="spacer" style="height: 0px;"></div>

        <div style="color: white" id="mailing-list" class="text-center" ng-show="isShowingMailingList">
            <h2>Join our Mailing List!</h2>
            <form style="color:white; font-size:18px; font-family:Raleway;">
                Name:<br>
                <input style="color:black; font-family:Raleway;" id="mailing-list-name" type="text" name="firstname" placeholder="John Doe"><br><br>
                Email:<br>
                <input style="color:black; font-family:Raleway;" id="mailing-list-email" type="text" placeholder="john@doe.com" name="lastname">
            </form>
            <br>
            <button type="submit" style="color: black;" onclick="writeNewEmail()" class="btn btn-lg btn-light"> Sign me up! </button>
        </div>
        <div ng-show="isShowingSponsorPitch">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <h1 style="font-family:Raleway;">Become one of our sponsors today!</h1>
                        <p class="lead">Contact <a href="mailto:uwhpsub@gmail.com" style="color:white; text-decoration:underline;">uwhpsub@gmail.com</a> to learn more</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="#portfolio" id="about-next-button">
            <i class="fa fa-angle-down fa-5x" style="color:#ffffff; opacity:0.9"></i>
        </a> -->
    </div>

    <!-- Sponsors -->
    <div class="container" style="margin: 0px; width: 98vw; color: #337ab7; background:white;">
        <div style="text-align: center; ">
            <!-- <input type="text" name="sponsorName" ng-model="sponsorName"><br> -->
            <h1 class="standout-text-light"> Huge Shoutout To Our Sponsors!</h1>
            <h2 class="standout-text-light">We Couldn't Do It Without Your Support!</h2>
            <div id="special" class="row" style="text-align:center; margin-top: 20px;">
                <div ng-repeat="sponsor in importantSponsors track by $index" style="display:inline-block;" class="sponsor-logo">
                    <img src="{{sponsor.img}}" ng-click="goTo(sponsor.link)" style="height:auto; padding:20px; width:19vw;">
                </div>
                <!-- <div ng-repeat="i2 in sponsor_array_2 track by $index" style="display:inline-block;" class="sponsor-logo">
                    <img src="{{i2}}" height="150px" width="350px;" style="margin: 10px;">
                </div> -->
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer style="color: white; background:#337ab7">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center" >
                    <h4><strong>Contact Us</strong></h4>
                    <p>Mechanical Engineering Department,
                        <br>Seattle, Washington, 98105</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-envelope-o fa-fw" ></i> <a href="mailto:uwhpsub@gmail.com"style="color: white;">uwhpsub@gmail.com</a>
                            </li>
                        </ul>
                        <br>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/uwhps/" style="color: white;"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/uwhps/" style="color: white;"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/UWHPSub" style="color: white;"><i class="fa fa-youtube fa-fw fa-3x"></i></a>
                            </li>
                        </ul>
                        <hr class="small">
                        <p class="text-muted" style="color: white;">Created By: Varun Viswanath 2016</p>
                    </div>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><!--<i class="fa fa-chevron-up fa-fw fa-1x"></i>-->Top</a>

    </footer>

    <!-- Firebase Setup -->
    <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCyVeNQHeuiqeskX_hZymQb53ETg8RaNwU",
        authDomain: "uwhumanpoweredsubmarineteam.firebaseapp.com",
        databaseURL: "https://uwhumanpoweredsubmarineteam.firebaseio.com",
        storageBucket: "",
      };
      firebase.initializeApp(config);
      // Get a reference to the database service
      var database = firebase.database();

      function writeNewEmail() {
          var anEmail = document.getElementById('mailing-list-email').value;
          var aName = document.getElementById('mailing-list-name').value;
          var contactData = {
              name: aName,
              email : anEmail
          };
          // Get new Contact's Key
          var newContactsKey = firebase.database().ref().child('contacts').push().key;
          console.log('hello');
          // Update with Data
          var updates = {};
          updates['/contacts/' + newContactsKey] = contactData;

          return firebase.database().ref().update(updates);
          console.log('hello');

      }

    </script>


    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
        var that = $(this);
        // Disable the click handler until the user leaves the map area
        that.off('click', onMapClickHandler);
        // Enable scrolling zoom
        that.find('iframe').css("pointer-events", "auto");
        // Handle the mouse leave event
        that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
